@CHARSET "ISO-8859-1";

.thumb-wrap {
	float: left; 
	border-top : 5px solid #fff;
	border-bottom : 5px solid #fff;
	border-left : 2px solid #fff; 
	border-right : 2px solid #fff;
}
.thumb-wrap img {
	width: 75px;	
}
.thumb-wrap.x-item-selected {
	border-top : 5px solid #0f0;
	border-bottom : 5px solid #0f0;
	border-left:2px solid #0f0;
	border-right : 2px solid #0f0;	
}
